body            { font-family: sans-serif; background: #eee; }
a, h1, h2, h3   { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { border-bottom: 2px solid #eee }
h3              { border-bottom: 1px solid #eee }

.main           {width: 60em;display: table; margin: 0 auto; float: middle; }
.page, .page-side {display: table-cell } 
.page           { margin: 1em auto; border: 4px solid #ccc; padding: 0.8em; background: white;float: left; }
.page-side      { margin: 5em auto; margin-right: 1em ; border: 4px solid #ccc; padding: 0.8em; background: white; float: left; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
table 		{ font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
td, th 		{ border: 0px solid #dddddd;text-align: left;padding: 8px;}
