{% extends "layout.html" %}
{% block body %}
    <h2>{{ entry.aws_profile }}</h2>
    {% if session.logged_in %}
     <div class=metanav> <a href="{{ url_for('edit_key_entry',awsp=entry.aws_profile) }}">edit</a></div>
     <table>
    <tr>
        <td>AWS_profile:</b></td>
        <td>{{entry.aws_profile }} </td>
    </tr>
    <tr>
        <td>AWS_key:</b></td>
        <td>{{entry.aws_key }} </td>
    </tr>
    <tr>
        <td>AWS_secret:</b></td>
        <td>{{entry.aws_secret }} </td>
    </tr>
     </table>
    {% endif %}
{% endblock %}
